/*Top 3 attraction Start*/
.topAttraction:before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: linear-gradient(to top,#859e81,#4480a2);z-index: 0;}
.topAttraction__caption {
    position: absolute;
    right: 5%;
    bottom: 7%;
    color: #ffffff;
    padding:10rem 0rem 0 7rem;
    background-image: url(../../../../../content/dam/tourism/home/structure/home/text-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    /* width: 750px; */
    width: 700px;
    height: 405px;
}
.topAttraction__caption p{text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);}
.topAttraction__caption a.btn {
    border-radius: 45px;
    border: 1px solid rgba(199, 198, 198, 0.43);
    background-color: rgba(0, 0, 0, 0.45);
    color: #ffffff;
    font-size: .8rem;
    padding: .5em 1.5em;
    /* margin: 3em 0 0 0; */
    margin: 0;
}

.carousel__indicators{right: 10%;bottom: 8%;left: auto;margin: 0;justify-content: flex-end;}
.carousel__indicators li{width: 12px;height: 12px;border-radius: 50%;margin-left: 1rem;background-color: rgba(255,255,255,.2);}
.topAttraction .carousel-item{min-height: 100vh}
.topAttraction .carousel-item img {width: 100%;height: 100vh;object-fit: cover;}

.topAttraction .section-heading-custom{position: absolute;top: 20%;left: 200px;z-index: 1;}


/*Top 3 attraction End*/

@media (max-width :1366px){
section.topAttraction {margin-top: -1px;}
.topAttraction__caption {padding: 6.5rem 1rem 1rem 4rem;width: 440px;height: 250px;}
.topAttraction__caption p{font-size: .8rem;}
.topAttraction__caption h2 {font-size: 1.8rem;}
.topAttraction__caption h4{font-size: 1.25rem;}
.section-heading{margin: 0px 0 1.5rem 0 !important;}
.topAttraction .section-heading-custom{top: 100px;left: 150px;}
}
@media (max-width :1280px){
.topAttraction .section-heading-custom{top: 150px;}
.topAttraction__caption {/* padding: 8rem 1rem 1rem 4rem; */width: 425px;}
}
@media (max-width :1152px){
.topAttraction .section-heading-custom{top: 85px;}
}
@media (max-width :1024px){
.topAttraction__caption{ /* width: 550px;  width:700px; padding: 6rem 2rem 3rem 7rem;*/  }
}

@media (max-width :992px){
.topAttraction__caption{top: 8%;width: 40%;padding: 0 1rem 0 0;left: 11%;bottom: auto;background: none;}
.topAttraction .carousel-item{min-height: auto}
}

@media (max-width :768px){  
    .carousel__indicators li {width: 14px;height: 14px;}
}
@media (max-width :576px){
.topAttraction__caption{left: 5%;width: auto;}
.topAttraction__carousel .topAttraction__caption .btn{border-radius: 10px;border: 0;color: #ffffff;font-size: .8rem;padding: 5px;margin: 1em 0 0 0; }
.topAttraction__carousel .topAttraction__caption .btn:after{content: '\f105'; margin-left: 5px; font-family:'FontAwesome';}
.topAttraction__carousel .section-heading h2:after{left: 0% !important;}
.carousel-indicators{display: block;padding-left: 1.5rem;}
.carousel__indicators li {width: 11px;height: 11px;display: inline-block; margin: 0 .3rem;}
.topAttraction__caption>h4 {margin: 4rem 0 .5rem 0; padding:5px; width: fit-content; border-radius: 10px; }
.topAttraction__caption p{display: none;}
.topAttraction .carousel-item img{/* height: 500px;object-position: left; */height: 250px; object-position: center;}
 
}

@media (max-width :430px){
.carousel-indicators {padding-left: 1rem;}
}
